# Backend Configuration

# Test Server URL
APP_API_URL=http://20.207.122.201/evaluation-service

# API Authentication Token (provided in the email or test server response)
APP_API_TOKEN=your_access_token_here

# Logging Token (can be the same as API_TOKEN)
APP_LOG_TOKEN=your_access_token_here

# Priority Inbox Configuration
APP_PRIORITY_LIMIT=10
